"*":
  "autocomplete-plus":
    fileBlacklist: [
      "*.md"
    ]
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "language-go"
      "language-css"
      "language-csharp"
      "language-clojure"
      "language-javascript"
      "language-less"
      "language-make"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-sass"
      "language-sql"
      "autocomplete-css"
      "language-toml"
    ]
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    packagesWithKeymapsDisabled: [
      "vim-mode"
    ]
    themes: [
      "unity-ui"
      "glacier-syntax"
    ]
  editor:
    invisibles: {}
    preferredLineLength: 120
    scrollPastEnd: true
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
  "find-and-replace": {}
  "fuzzy-finder": {}
  "local-history": {}
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  "vim-mode": {}
  welcome:
    showOnStartup: false
".gfm.source":
  editor:
    preferredLineLength: 120
".plain.text":
  editor:
    preferredLineLength: 120
".source.toml":
  editor:
    preferredLineLength: 120
